doctype html
html
  head
    title= `${title ? title + ' | ' : ''}Reset Flow`
    link(rel='icon', type='image/svg+xml', href='/images/vite.svg')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
