extends ../layout

block content
  main(data-theme='winter')
    .flex.flex-col.h-screen
      div(class='header border-b border-gray-300 py-8 px-4 mx-8 text-center')
        h1.font-semibold Reset Flow
      div(class='grid place-items-center my-20 mx-2 sm:my-auto')
        block main
