extends ../layout

include ../../_partials

block main
  div(class='w-11/12 p-12 px-6 py-10 rounded-lg sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-3/12 sm:px-10 sm:py-6')
    if message
      +alert(message)(class=`${success ? 'alert-info' : 'alert-error'} mb-10`)
    h2(class='font-semibold text-4xl mb-4') Update Password
    p(class='font-medium mb-4') Hi #{user.email}, Enter your new password below and confirm it
    form(method='post')
      .form-control
        label(class='label' for='password') Password
        input(id='password' name='password' type='password' class='input input-bordered' value=`${password ? password : ''}`)
      if errors
        +input_error(errors.password)
      .form-control
        label(class='label' for='passwordConfirm') Confirm Password
        input(id='passwordConfirm' name='passwordConfirm' type='password' class='input input-bordered')
      if errors
        +input_error(errors.passwordConfirm)
      .form-control.mt-6
        button(class='btn btn-primary no-animation') Update Password
